# Added by cargo
#
# already existing elements were commented out

/target
Cargo.lock
.hg
.idea
.vscode

# By default, ignore all hidden files and directories (those starting with a dot)
.env
package.json
tsconfig.json
.hgignore
Rocket.toml
